@import "tailwindcss";
@import "aos/dist/aos.css";
@import "swiper/css";
@import "swiper/css/autoplay";









body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse-slow {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.ticker-wrapper {
  display: flex;
  width: max-content;
  animation: ticker 30s linear infinite;
}

.animate-ticker {
  display: flex;
  flex-wrap: nowrap;
}
.slider-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease, transform 1s ease;
}

.slider-image.active {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

.content-overlay {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  max-width: 800px;
}

.content-overlay h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.content-overlay p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #e91e63;
  color: white;
  padding: 1rem 2rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
 
}

.cta-button:hover {
  background-color: #c2185b;
}






